.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: #242424;
  box-shadow: 0px 4px 20px rgba(250, 250, 250, 0.05);
}

.input {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input__box {
  padding: 0.6em 1.2em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

.input__box:focus {
  outline: 1px solid #4ac7bc;
}

.error__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.main__characters,
.main__details {
  padding: 100px 20px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  position: relative;
  width: 250px;
  text-align: center;
  list-style: none;
  border: 1px solid #4d4b4b;
  border-radius: 10px;
  transition: border-color 0.3s;
  cursor: pointer;
}

.card:hover {
  border-color: #918e8e;
}

.card__image {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__label {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 10px;
  border-radius: 5px;
}

.card__label_red {
  background-color: #ec2d01;
}

.card__label_green {
  background-color: #76c076;
}

.card__label_grey {
  background-color: #808080;
}

.card__content {
  padding: 10px;
}

.pagination {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: #242424;
  box-shadow: 0px 4px 20px rgba(250, 250, 250, 0.05);
}

.pagination__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #4ac7bc;
  background: transparent;
  border: 1px solid #b7e6e1;
  border-radius: 100%;
  transition: all 0.3s ease-out;
}

.pagination__controls:hover:not([disabled]) {
  color: #292929;
  background-color: #b7e6e1;
  border: 1px solid #b7e6e1;
  cursor: pointer;
}

.pagination__controls:disabled {
  color: #cdcdcd;
  border: 1px solid #cdcdcd;
}

.pagination__page {
  padding: 10px;
  color: #292929;
  background-color: #b7e6e1;
  border-radius: 20px;
  pointer-events: none;
}

.main__details {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  box-shadow: 0px 4px 20px rgba(250, 250, 250, 0.05);
}
