.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 320px;
  background-color: #edf6f3;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #657474;

  &__title {
    text-align: center;
  }
}

// .switch {
//   position: relative;
//   display: inline-block;
//   width: 46px;
//   height: 20px;

//   &__input {
//     opacity: 0;
//     width: 0;
//     height: 0;

//     &:checked + &_slider {
//       background-color: teal;
//     }

//     &:focus + &_slider {
//       box-shadow: 0 0 1px #5a8686;
//     }

//     &:checked + &_slider:before {
//       transform: translateX(26px);
//     }

//     &_slider {
//       position: absolute;
//       cursor: pointer;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       background-color: #cacccc;
//       transition: all 0.4s;

//       &:before {
//         position: absolute;
//         content: '';
//         height: 20px;
//         width: 20px;
//         background-color: white;
//         transition: all 0.4s;
//       }
//     }

//     &_round {
//       border-radius: 34px;

//       &:before {
//         border-radius: 50%;
//       }
//     }
//   }
// }

//
// .form_item_title {
//   font-size: 15px;
// }

// .input_checkbox {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

// .confirm_wrapper {
//   position: relative;
// }

.input_submit {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #bcdcdc;
  font-weight: bold;

  &:not([disabled]):hover {
    color: teal;
    border: 1px solid teal;
    cursor: pointer;
    transition: color 0.3s;
  }
}
