.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 320px;
  color: #242424;
  text-align: justify;
  background-color: #edf6f3;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #657474;

  &__title {
    text-align: center;
  }
}
