.input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid teal;
  outline: none;
  width: 100%;

  &__error {
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: -10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.strength-container {
  font-size: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.strength-container label {
  flex: 1 0 auto;
}
progress::-webkit-progress-bar {
  background-color: #ededed;
  border-radius: 15px;
}

progress[value]::-webkit-progress-value {
  border-radius: 15px;
}

progress[value='1']::-webkit-progress-value {
  background-color: rgb(220, 20, 20);
}
progress[value='2']::-webkit-progress-value {
  background-color: rgb(231, 159, 14);
}
progress[value='3']::-webkit-progress-value {
  background-color: rgb(159, 231, 26);
}
progress[value='4']::-webkit-progress-value {
  background-color: rgb(7, 159, 33);
}

input:focus {
  outline: none;
}

.strenght {
  width: 100%;
  height: 5px;
  border-radius: 10px;
}
